[
  {
    "address": "GjXobpiEexQqqLkghB29AtcwyJRokbeGDSkz8Kn7GGr1",
    "name": "bull-kol",
    "emoji": "👻"
  },
  {
    "address": "DxM1hfY8FQ8dNGrucuJzhJcF8KRbjk8WBwrgKvQ9spPv",
    "name": "rc-kol",
    "emoji": "👻"
  }
]
